@charset "UTF-8";

h1{
    margin-top: -40px;
    text-align: center;
}

h2{
    font-family: Courier, monospace;
    color: green;
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}

h3{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0, 0, 0, .7);
}
.redes{
    display: flex;
    justify-content: center;
    
}    
.redes1{
    display: flex;
    justify-content: center;
    margin-top: -12px;
}

.radio{
    display: flex;
    justify-content: center;
    margin-top: 19px;
    
}

p{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}    

#audio{
     display: flex;
    justify-content: center;
}


body{
    background-image: url(img/bunker1.jpg);
    background-size: cover;
  background-attachment: fixed;
}

